[Unit]
Description=Provide Lock/Unlock Script Event Functionality for KDE Plasma 6
After=graphical-session.target
PartOf=graphical-session.target
Requires=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/monitor-dbus-session-state.sh
ExecStop=/usr/bin/pkill -9 -f monitor-dbus-session-state.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
